.category {
  margin-bottom: 30px;
  margin-top: 40px;
}

.gridRow {
  display: flex;
  gap: 40px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.gridMobile .gridRow {
  gap: 20px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}