.category {
  width: 100%;

  font-size: 16px;
  font-weight: 500;

  padding-bottom: 12px;
  border-bottom: 1px solid var(--color-grey-04);
  color: var(--color-grey-03);

  &:hover {
    color: var(--color-accent);
  }

  &:active {
    color: var(--color-grey-01);
    font-size: 16px;
    font-weight: 600;
  }

  &.mobile {
    font-size: 14px;
  }
}