.card {
    background-color: var(--color-grey-06);
    border-radius: 16px;
    padding: 24px;

    box-sizing: content-box;

    display: flex;
    justify-content: space-between;
    flex: 1;

    &.mobile {
        flex-direction: column;
        padding: 16px;

        & .avatar {
            width: 100%;
            height: auto;
            margin: 0 0 16px;
        }

        & .contentWrapper {
            height: 100%;
        }
    }

    &.disabled {
        filter: grayscale(100%)
    }
}

.contentWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.avatar {
    width: 112px;
    height: 120px;
    border-radius: 8px;
    margin-right: 16px;

    object-fit: cover;
}

.username {
    color: var(--color-accent);
    margin: 0 0 4px;
}

.location {
    color: var(--color-grey-03);
    margin: 0;
}

.menu {
    cursor: pointer;
    margin-left: 10px;

    position: relative;
}

.dropdown {
    background-color: var(--color-grey-06);
    border-radius: 12px;
    box-shadow: 0px 0px 2px 0px #5A5A5A;

    position: absolute;
    right: 0;
    top: 0;

    padding: 8px 0;
    z-index: 1;
}

.menuItem {
    list-style: none;
    padding: 12px 16px;

    &:hover {
        background-color: var(--color-grey-05);
    }
}

.mobile .menuItem {
    padding: 8px;
}