.icon {
  color: var(--color-grey-01);
  font-size: 16px;
  cursor: pointer;

  &.mobile {
    font-size: 12px;
  }

  &:hover {
    color: var(--color-accent);
  }

  &:active {
    color: var(--color-grey-02);
  }
}