@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&display=swap');

body {
  margin: 0;
  font-family: Manrope;
}

:root {
  --color-grey-06: #fdfdfd;
  --color-grey-05: #f4f4f4;
  --color-grey-04: #dadada;
  --color-grey-03: #9c9c9c;
  --color-grey-02: #595959;
  --color-grey-01: #161616;
  --color-accent: #22a0bc;
}

.container {
  width: 90%;
  max-width: 1160px;
}
