body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

:root {
  --color-grey-06: #fdfdfd;
  --color-grey-05: #f4f4f4;
  --color-grey-04: #dadada;
  --color-grey-03: #9c9c9c;
  --color-grey-02: #595959;
  --color-grey-01: #161616;
  --color-accent: #22a0bc;
}

.container {
  width: 90%;
  max-width: 1160px;

  margin: 0 auto;
}
